<header class="item-center" style="margin-bottom: 50px;">
  <nav class="navbar navbar-expand-lg bg-body-tertia bg-color fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-color" style="color:white" href="/">Shopping Cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/">products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/cart">cart <span style="color:black"class="badge badge-pill bg-white" id="cart-count">{{cartItemCount}}</span></a>
          </li>
          </li>
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/show-orders">orders</a>
          </li>
          {{/if}}
        </ul>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{#if user}}
            {{user.name}}
            {{else}}
            Account
             {{/if}}
                
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#if user}}
            <a class="dropdown-item" href="/logout">Loggout</a>
            {{else}}
            <a class="dropdown-item" href="/login">Login</a>
            {{/if}}
          </div>
          
           

           
        </div>
      </div>
    </div>
  </nav>
</header>