<!doctype html>
<html lang="en" data-bs-theme="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id" content="504408032003-jajn2rr5v0ahivm5rj2t649uk8t1prop.apps.googleusercontent.com">
  <title>Ecommerce </title>
  <link rel="stylesheet" href='/stylesheets/style.css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> 
   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
   <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
   <script src="https://apis.google.com/js/platform.js" async defer></script>
  
</head>

<body style="background-color:rgb(255, 255, 255);color: rgb(0, 0, 0);">
  
  {{#if admin}}
  {{>admin-header}}
  {{else}}
  {{>user-header}}
  {{/if}}
  {{{body}}}
  <footer class="text-center py-3 bg-black text-white">
        <p>&copy; 2023 Your Ecommerce Company. All rights reserved.<br>
        Website: <a href="http://www.yourwebsite.com">www.yourwebsite.com</a></p>
        
        <p>Unauthorized copying, reproduction, or distribution of any content on this website, including text, images, graphics, and code, is strictly prohibited. This includes both electronic and print forms. For permissions and inquiries regarding content use, please contact us at <a href="mailto:legal@yourwebsite.com">legal@yourwebsite.com</a>.</p>
        
        <p>Unless otherwise indicated, all trademarks, logos, and other intellectual property displayed on this website are the property of Your Ecommerce Company and are protected under intellectual property laws.</p>
        
        <p>By accessing and using this website, you agree to comply with all applicable copyright and intellectual property laws. You may not use, modify, or distribute the content of this website for commercial purposes without express written consent from Your Ecommerce Company.</p>
        
        <p>Your use of this website does not grant you any rights or licenses in relation to the intellectual property rights or the content presented herein. All content on this website is provided for informational purposes and does not constitute professional advice.</p>
        
        <p>Your Ecommerce Company reserves the right to take legal action against any unauthorized use of its copyrighted content or intellectual property.</p>
        
        <p>For more information about our terms of use and privacy practices, please visit our <a href="terms-of-use.html">Terms of Use</a> and <a href="privacy-policy.html">Privacy Policy</a> pages linked at the bottom of this website.</p>
        
        <p>For copyright inquiries, please contact:<br>
        Legal Department<br>
        Your Ecommerce Company<br>
        123 Main Street<br>
        City, State, ZIP<br>
        Email: <a href="mailto:abuthahircoorg07@gmail.com">abuthahircoorg07@gmail.com</a><br>
        Phone: (123) 456-7890</p>
    </footer>

    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
    
    <script src="/javascripts/script.js"></script>
  
</body>

</html>