<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="text-center mt-5 pt-3 pl-5" style=" background-color: rgb(210, 192, 218);">
                <form action="" method="post">
                    <input type="text" class="mb-1" name="address" id="address" placeholder="Address" style="width:200px;"><br>
                    <input type="email" class="mb-1" name="contact" id="contact" placeholder="Email" ><br>
                    <input type="tel" class="mb-1" name="" id=""><br>
                    <input type="submit"  class="btn button mb-3" value="Place Order"><br>
                   
                </form>
            </div>
          

        </div>
        <div class="col-6">
            <div class="text-center mt-5 pt-3 ml-5" style=" background-color: rgb(210, 192, 218); width:250px">
                <form action="" method="post">
                    <input type="text" class="mb-1" name="address" id="address" placeholder="Address" style="width:200px;"><br>
                    <input type="email" class="mb-1" name="contact" id="contact" placeholder="Email" ><br>
                    <input type="tel" class="mb-1" name="" id=""><br>
                    <input type="submit"  class="btn button mb-3" value="Place Order"><br>
                   
                </form>
            </div>
          

        </div>
        

    </div>
</div>