<div class="container">
    <div class="row">
            <div class="col-sm-6">
        <form action="" id="checkout-form" method="post">

                <div class="text-center mt-5 pt-3 pl-5">

                    <input type="text" class="mb-1 inp" name="address" id="address" placeholder="Address" required><br>
                    <input type="number" class="mb-1 inp" name="pincode" id="pincode" placeholder="pincode" required><br>
                    <input type="tel" class="mb-1 inp" name="phone" id="phone" placeholder="Phone number" required><br>
                    <input type="text" name="user" id="userid" value="{{user._id}}" hidden>


                </div>


            </div>
            <div class="col-sm-6">
                <div class="mt-5 p-3 pmethod">
                    <h3>Total Amount:Rs.{{total}}</h3><br>
                    <hr>
                    <h5>Payement Method</h5>

                    <input type="radio" name="payementMethod" id="radio1" value="COD" required>
                    <label for="radio">COD</label><br>
                    <input type="radio" name="payementMethod" id="radio2" value="online payement" required>
                    <label for="radio">Online Payement</label><br><br>
                    {{#if total}}

                 <input type="submit" class="btn btn-success" value="Checkout">
                 {{/if}}
                </div>

            </div>
        </form>



    </div>
</div>
<script>
   
</script>