<section class="mb-5" style="margin-top: 70px;padding-bottom: 40px;">
    <div class="container-fluid pt-5 m-auto">
        <div class="row pt-4 ">
            <div class="col-12">
                <form action="/login" class="text-center" method="post">
                    <div class="pb-2">
                        <h2>Login</h2>
                    </div>

                    <div class="form-group pt-2"> <input class="text-center border border-shadow inp" type="text"
                            name="email" placeholder="Email" required></div>
                    <div class="form-group pt-3"><input class="text-center border border-shadow inp" type="password"
                            name="password" placeholder="Password" required></div>
                    <div><a class="a-new" href="/signup">create new account?</a></div>
                    {{#if logerr}}
                    <div style="color:red">
                        <p>{{logerr}}</p>
                    </div>
                    {{/if}}

                    <div class="pt-3  mb-3"><input class="btn btn-success" type="submit" role="button" value="login"></div>
                    <div>    
                            <a href="/auth/google" class="mt-5 mb-5"
                                style="background-color: rgb(251, 251, 250);border 1px solid;text-decoration: none;color: black; border: 1px solid;padding: 5px; padding-bottom: 10px;border-radius: 5px;">
                                <img src="/project-images/google.png" width="30px" height="30px"
                                    alt="Login with Google"><span style="padding-left: 2px;">Login with google</span>         
                            </a>
                    </div>
                </form>


            </div>

        </div>
    </div>
</section>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script>