<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="" class="user-detail">
                <input class="user-detail" type="text" name="name" id="name" placeholder="User Name">
                <input class="user-detail" type="email" name="email" id="email" placeholder="Email">
                <input  class="user-detail" type="tel" name="mobile" id="mobile" placeholder="Contact">
                <textarea class="user-detail" name="address" id="address" cols="30" rows="4" placeholder="Address"></textarea>
                <input class="user-detail" type="number" name="pincode" id="pincode" placeholder="pincode">
                <input class="user-detail" type="submit" value="submit">


            </form>
        </div>
    </div>
</div>