.bg-color{
  background-color: #b06fed;
  background-image: linear-gradient( rgb(133, 67, 164)10%,rgb(0, 255, 123));

}
.button{
  background-image: linear-gradient(rgb(133, 67, 164),rgb(0, 255, 123));
  color: azure;
}
.inp{
  width:20rem;
  height: 40px;
  border-radius: 15px;
}
.a-new{
  text-decoration: none;
}
.order{
  margin-top: 3px;
  width:15rem;
  height: 40px;
  border-radius: 5px;
  text-align: center;

  
}
.order-div{
  scroll-margin: unset;
  background-color: rgb(36, 255, 120);
  width: 20em;
  border-radius: 10px;

  
  
  
}
.center{
  align-items: center;
}
  
  
    


